@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* *{box-sizing: border-box;} */
body {
    background-color: rgb(130, 183, 200);
    
    text-align: center;
}
nav{
    width: 100%;
    height: 45px;
    background-color: rgb(3, 3, 3);
}
ul {
    margin: auto;
    display: inline-block;
    list-style-type: none;
    margin-bottom: 10px;
    padding: 5px;
}

li {
    padding: 5px;
    color:  #333;
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3em;
    text-align: center;
}
a{
    color:  white;
    transition: ease-in-out 400ms;
    cursor: pointer;
}

a:hover{
    color: rgb(130, 183, 200);

}
.title-home{
    width: 300px;
    font-family: 'Bebas Neue', cursive;
    font-size: 3em; 
    background-color: rgb(209, 230, 173);
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-top:-20px;
    transition: ease-in-out 600ms;
    cursor: pointer;
}
.title-home:hover{
    transform: scale(1.1);
    
}

.title-about{
    width: 250px;
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;    
    background-color:  rgb(130, 183, 200);
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-top:-20px;
    transition: ease-in-out 600ms;
    cursor: pointer;
}
.title-about:hover{
    transform: scale(1.1);
    
}


h4{
  
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    color: rgb(251, 255, 255);
    margin: auto;
    margin-top:10px;
    

}



h2 {
    
    width: 130px;
    margin: auto;
    margin-top: -17px;
    margin-bottom: 20px;
    border-radius: 18px;

}

.input {
    width: 250px;
    padding: 5px;
    border:0px;
    border-radius: 8px; 
    color: #333;
    margin :auto;
    margin-bottom: 20px;
    margin-right: 3px;
    margin-left: 3px;
}

.input-num {
    width: 100px;
    padding: 5px;
    border:0px;
    border-radius: 8px; 
    color: #333;
    margin :auto;
    margin-bottom: 20px;
    margin-right: 3px;
    margin-left: 3px;
}
.about{
    width: 75vw;
    border-radius: 8px;
    background-color: rgb(209, 230, 173);
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}

.about p{
    text-align: left;
    margin: auto;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;
    color: rgb(80, 81, 82);
}

.about button{
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    margin-left: 96%;
    border-radius: 5px;
    color: white;
    background-color: red;
    border: 0px;
    outline: none;  
}

.about button:hover{
    background-color: rgb(57, 56, 56);

}

.missbook-home{
    width: 350px;
    transition: ease-in-out 600ms;
    cursor: pointer;
    margin-top: 10px;
}
.missbook-home:hover{
    transform: scale(1.1);
}

.missbook-about{
    width: 130px;
    /* margin-top: 10px; */
}

.missbook2 {
    width: 120px;
    margin-top: 10px;
    /* margin-right: 90%; */
}

.missbook {
    margin-top: 10px;
    width: 110px;
    transition: ease-in-out 600ms;
}
.missbook:hover{
    transform: scale(1.1);
    
}

.book-app .book-list {
    width: 90vw;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.book-app h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    background-color: rgb(209, 230, 173);
    padding: 10px;
    transition: ease-in-out 600ms;
}
.book-app h2:hover{
    transform: scale(1.1);
    
}

.book-preview  {
    width: 250px;
    height: 380px;
    text-decoration: none;
    margin: 10px;
    background-color: #333;
    color: #fff;
    padding: 16px;
    border-radius: 3px;
    transition: ease-in-out 600ms;
    cursor: pointer;
}

.book-preview:hover {
    transform: scale(1.05);
}
.book-icon {
    width: 120px;
}

.book-preview h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
    font-weight: 400;
    color: rgb(133, 213, 226);
}
.book-preview h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
}

.book-details{
    width: 75vw;
    border-radius: 8px;
    background-color: rgb(209, 230, 173);
    margin: auto;
    margin-top:20px;
    padding: 10px;
}
.book-details h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5em;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 400;
    color: rgb(20, 23, 24);
}

.book-details h3{
    font-family: 'Oswald', sans-serif;
    margin-top: 5px;
    font-size: 1.2em;
    font-weight: 300;
}
.book-details h4{
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;
    color: rgb(80, 81, 82);
   
}

.book-details h5{
    width: 240px;
    margin: auto;
    border-radius: 3px;
    padding: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: .9em;
    color: rgb(245, 246, 243);
    background: rgb(23, 71, 144);
   
}
.book-details p{
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    color: rgb(80, 81, 82);  
}

.book-details button{
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    margin-left: 96%;
    border-radius: 5px;
    color: white;
    background-color: red;
    border: 0px;
    outline: none;  
}

.book-details button:hover{
    background-color: rgb(57, 56, 56);

}

.book-details .tumbnail{
    width: 250px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(237, 233, 233);
}

.user-preview {
    background-color: darkcyan;
    padding: 5px;
    width: 200px;
    text-align: center;    
}

.form-review{
    width: 95%;
    background-color: #fff;
    margin:auto;
    border-radius: 8px;
}

.form-review h1 {
    font-size: 28px;
    margin-top:20px;
    color:  rgb(80, 81, 82);
}

.form-review label{
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    margin-top:10px;
}
.form-review textarea{
    width: 250px;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
}

.form-review input{
    width: 250px;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
}

.form-review .add-btn{
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    width: 250px;
    background-color: rgb(1, 1, 1);
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
}


.book-review{
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    padding: 10px;

    border-radius: 5px;
    width: 94%;
    background-color: #fff;
    margin:auto;
    border-radius: 8px;
    margin-bottom:20px
   
 
}

.book-review button{
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    margin-left: 96%;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
    background-color: red;
    border: 0px;
    outline: none;  
}

.add-book h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    background-color: rgb(209, 230, 173);
    padding: 10px;
    transition: ease-in-out 600ms;
}
.add-book h2:hover{
    transform: scale(1.1);
    
}

.red {
    color: red;
}
.green{
    color: green;
}